.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 349px;
}

.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 388px;
    border: none;
}

.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 456px;
    text-transform: inherit !important;
    /* background-color: #ff7779; */
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    color: white;
    width: 579px;
}

.search > button:hover {
    background-color: white;
    background-image: none;
    /* color: #ff7779; */
    color: #3eadcf;
}

@media (max-width: 640px) {
    .search {
       left: 18%;
    }
}